@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-font {
  font-family: "custom", sans-serif;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

#root {
  /* background-color: #01040c; */
}

.canvas-loader {
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.1s infinite ease;
  transform: translateZ(0);
}

iframe.bpFab {
  width: 55px;
  height: 55px;
  border-radius: 0px;
  box-shadow: none;
}

iframe.bpFab:hover {
  box-shadow: none;
}

.glow_white {
  animation: 2s linear 0s infinite normal none running glow_ffffff_2;
}

@keyframes glow_ffffff_2 {
  0% {
    box-shadow: none;
  }
  37.5% {
    box-shadow: none;
  }
  50% {
    box-shadow: 0 0 8px 5px #ffffff;
  }
  62.5% {
    box-shadow: none;
  }
  100% {
    box-shadow: none;
  }
}
