@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-font {
  font-family: "custom", sans-serif;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  background-color: #01040c;
}
